<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    <script src="https://use.fontawesome.com/47692fa6a2.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </head>
  <body>
    <%- include('header') %>
      <div class="container">
          <div class="row">
              <h2>Password Category List</h2>
              <div class="col-md-12">
    <table class="table">
        <thead>
          <tr>
            <th>Category</th>
            <th>Action</th>
  
          </tr>
        </thead>
        <% if(records.length > 0){ 
          records.forEach(function(row){%>
        <tr>
          <td><%= row.password_category %></td>
          <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal<%=row._id%>"><i class="fa fa-eye"></i></button>
            <a class="btn btn-primary btn-xs" href="/viewallpassword/edit/<%=row._id%>"><i class="fa fa-edit"></i></a>
            <a class="btn btn-danger btn-xs" href="/viewallpassword/delete/<%=row._id%>" onclick="prompt(' Are you sure')""><i class="fa fa-trash"></i></a>
          </td>
        </tr>
        <div class="modal fade" id="exampleModal<%=row._id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"><%= row.password_category %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <%- row.password_detail %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        <% }) } %>
      </table>
              </div>
          </div>
        </div>
  </body>
</html>
